*~
*.itf
*.po
*.qlf
*.xwam
*.wam
*.ma
*.s
*.o
*.so
*.dylib
docs/yap.info*
GPL/Makefile
LGPL/Makefile
LGPL/clp/Makefile
LGPL/swi_console/Makefile
Makefile
config.h
config.status
libYap.a
library/Makefile
library/lammpi/Makefile
library/matlab/Makefile
library/matrix/Makefile
library/mpi/Makefile
library/random/Makefile
library/regex/Makefile
library/rltree/Makefile
library/system/Makefile
library/tries/Makefile
library/yap2swi/Makefile
packages/CLPBN/Makefile
packages/PLStream/Makefile
packages/ProbLog/Makefile
packages/cplint/Makefile
packages/sgml/Makefile
startup.yss
yap
parms.h
